
/* Fundo azul em toda a tela */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #004b8d;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container com as duas divisões lado a lado */
.container {
  display: flex;
  width: 1000px;
  max-width: 95%;
  height: 70%;
  align-items: center;
}

/* CAIXA DE LOGIN (lado esquerdo) */
.login-box {
  background: white;
  width: 380px;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
}

.login-box h2 {
  margin-bottom: 25px;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.login-box input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #0d62db;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.login-box button:hover {
  background-color: #094fb3;
}

.recuperar {
  font-size: 0.9em;
  margin-top: 15px;
  text-align: center;
}

/* SEÇÃO DO LADO DIREITO */
.bemvindo {
  flex: 1;
  color: white;
  padding-left: 60px;
}

.bemvindo h1 {
  font-size: 2.1em;
  font-weight: 600;
  max-width: 500px;
}

.bemvindo p {
  margin-top: 18px;
  font-size: 1.1em;
  max-width: 420px;
}
