.form-card {
    color: white;
    padding: 30px;
}

.form-box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 600px;
}

.form-box label {
    font-weight: 600;
    color: #133f82;
}

.form-box input,
.form-box select,
.form-box textarea {
    padding: 10px;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
}

.form-box textarea {
    height: 120px;
    resize: none;
}

.btn-salvar {
    width: 180px;
    padding: 12px;
    margin-top: 10px;
    background-color: #133f82;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-salvar:hover {
    background-color: #0f2f63;
}
