* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #133f82;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 280px;
    background: rgba(0, 0, 0, 0.2);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}

.menu-item a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: inherit;
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.menu-item a:hover {
    background-color: rgba(255, 253, 253, 0.1);
}

.menu-item.active {
    background: rgba(255, 255, 255, 0.15);
    border-left: 4px solid #133f82;
}

.menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.main-content {
    flex-grow: 1;
    padding: 30px;
    background-color: #133f82;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
}

.header h2 {
    font-size: 24px;
    color: #ffffff;
}
.header h3 {
    font-size: 20px;
    color: #ffffff;
}





.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 48%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card-icon {
    font-size: 40px;
    color: #133f82;
}

.card h3 {
    font-size: 20px;
    font-weight: 500;
    color: #133f82;
}

.card p {
    font-size: 16px;
    color: #555;
}

button {
    padding: 10px 20px;
    background-color: #133f82;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0d2e6d;
}

.detalhes {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: none;
}
