.logo img {
  width: 150px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: block;
}
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f4f8;
  color: #181212;
  font-family: M;
}

.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* MENU LATERAL */
.sidebar {
  background: #083a69;
  color: white;
  width: 200px;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 15px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* CONTEÚDO PRINCIPAL */
.content {
  flex: 1;
  padding: 30px;
  background: #f9fbfd;
}

header {
  text-align: right;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

/* CARD DO FORMULÁRIO */
.form-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  font-family: Arial, sans-serif;
}

.form-card h1 {
  margin-bottom: 100px;
  font-size: 50px;
  color: #0d3b66;
}

.form-card p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 100px;
  font-family: Arial, sans-serif;
}

/* Linha com dois inputs lado a lado */
.row {
  display: flex;
  gap: 20px;
}

.row>div {
  flex: 1;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #083a69;
  color: white;
  font-size: 16px;
  cursor: auto;
}

button:hover {
  background: #083a69;
}